/* Main Colours */

$darkblue: #004991;
$lightblue: #50bae7;
$black: #000000;
$white: #FFFFFF;
$dimblue: #4d5059;
$green: #0eb670;
$greenhover: #22cf87;
$greenborder: #22cf87;
$greenborderhover: #0eb670;
$grey: #e1e1e1;
$offwhite: #ced5e0;
$red: #eb505b;